# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Cmake user file
CMakeLists.txt.user

*swp
proto/message*
proto/pack*
proto/test_proto

*.dSYM/
mruby/
